html{
    background-color:black;
    font-family: cursive
}
#CIP{
    background-color:black;color:white;
    border-radius:12px;
    border:solid 4px white;
    padding:15px
}
a{
    text-decoration: none;
    color:white
}
a:hover{
    background:white;
    color:black;
    border:solid blue;
    border-radius:8px
}