html{
    background:url(../images/chinese_scenery.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif
}
h1{
    background-color: #476505;
    color: beige;
    border: solid 4px black;
    padding: 4px;
    border-radius:8px;
    box-sizing:border-box;
    width:25%;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}
#first_h3{
    background-color: #476505;
    color: beige;
    border: solid 4px black;
    padding: 8px;
    border-radius:8px;
    width:33.33%;
    box-sizing: border-box;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}
a{
    text-decoration: none;
    color: beige;
    background-color: black;
}
a:hover{
    background-color:yellow;
    color:black
}
nav{
    text-align: center
}
.nava{
    background-color:#476505;
    text-align: center;
    border: solid 2px black;
    border-radius:8px;
    padding:4px
}
.main{
    background-color: #476505;
    color: beige;
    border: solid 4px black;
    padding: 15px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    width:55%
}
.mainp{
    text-indent: 10px
}
#footer{
    left: 0;
    bottom: 0;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    text-align: center;
    background-color: #476505;
    color: beige;
    border: solid 4px black;
    padding: 8px;
    border-radius: 8px;
}