html{
    background:url(../images/chinese_scenery.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}
h1{
    background-color: #476505;
    color: beige;
    border:solid 4px black;
    width: 25%;
    padding: 4px;
    border-radius:8px;
}
a{
    text-decoration: none;
    color: beige;
    background-color: black;
}
a:hover{
    background-color:yellow;
    color:black;
}
.pageimg{
    float:right;
    width:38%;
    margin-right: 15%;
    border:solid 4px black;
    border-radius: 8px;
}
#caption{
    text-align: center;
    padding:3px;
    background-color: #476505;
    color: beige;
    border-radius: 8px;
}
.vocab{
    color: black;
}
#shanghai{
    border:solid 4px black;
    width:38%;
    margin-left: 75%;
    position: absolute;
    right: 55%;
    padding:10px;
    text-indent: 20px;
    font-size: 25px;
    background-color: #476505;
    color: beige;
    border-radius: 8px;
}
#beijing{
    border:solid 4px black;
    width:38%;
    margin-left: 75%;
    position: absolute;
    right: 55%;
    padding:10px;
    text-indent: 20px;
    font-size: 25px;
    background-color: #476505;
    color: beige;
    border-radius: 8px;
}
#plasticbags{
    border:solid 4px black;
    width:38%;
    margin-left: 75%;
    position: absolute;
    right: 55%;
    padding:10px;
    text-indent: 20px;
    font-size: 25px;
    background-color: #476505;
    color: beige;
    border-radius: 8px;
}
#coal{
    border:solid 4px black;
    width:38%;
    margin-left: 75%;
    position: absolute;
    right: 55%;
    padding:10px;
    text-indent: 20px;
    font-size: 25px;
    background-color: #476505;
    color: beige;
    border-radius: 8px;
}
#tax{
    border:solid 4px black;
    width:38%;
    margin-left: 75%;
    position: absolute;
    right: 55%;
    padding:10px;
    text-indent: 20px;
    font-size: 25px;
    background-color: #476505;
    color: beige;
}