html{
    background:url(../Images/Anthem1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family:fantasy;
}
#HomeB{
    color:black
}
#Hey{
    color:black;
    text-align: center
}
#Name{
    color:black;
    text-align: center
}
#nav{
    background-color:white;
    box-sizing:border-box;
    text-align:center;
    border:solid 8px black
}
#nava{
    border: solid 3px black;
    background-color: goldenrod
}
a{
    text-decoration:none;
    color:white;
    font-weight:bold
}
a:hover{
    background-color:white;
    color:black;
    border:solid black;
    border-radius:8px;
}
#SAM{
    background-color:goldenrod;
    color:white;
    border-radius:12px;
    border:solid 4px black;
    padding:15px
}
#HAG{
    background-color:orangered;color:white;
    border-radius:12px;
    border:solid 4px black;
    padding:15px
}
#CI{
    background-color:black;color:white;
    border-radius:12px;
    border:solid 4px white;
    padding:15px
}
