html{
    background-color: black;
    color:orchid;
    font-family: sans-serif
}
#pageimg{
    float:right;
    width:38%;
    margin-right: 15%;
    border:solid 2px orchid;
}
p{
    border:solid 2px orchid;
    width:38%;
    margin-left: 75%;
    position: absolute;
    right: 60%;
    top: 100px;
    padding:5px;
    text-indent: 20px;
    font-size: 24px
}