html{
    background-color: black;
    color:white;
    font-family: sans-serif
}
a{
    text-decoration: none;
    color:white;
    background:orchid
}
a:hover{
    background-color: black;
    color:orchid;
}
#pageimg{
    float:right;
    width:38%;
    margin-right: 15%;
    border:solid 4px orchid;
}
p{
    border:solid 4px orchid;
    width:38%;
    margin-left: 75%;
    position: absolute;
    right: 55%;
    padding:10px;
    text-indent: 20px;
    font-size: 22px;
}